Package: palaver
Version: 1.0-1
Architecture: amd64
Maintainer: James McClain <jamezmcclain@gmail.com>
Installed-Size: 26
Depends: sox, python-argparse, wget, espeak, xautomation, xvkbd
Section: unknown
Priority: extra
Homepage: https://github.com/JamezQ/Palaver
Description: Speech Recognition using Google API.
 This software uses Google API, and gives a way to control your
 computer with voice. You can instead lots of plugins, and it works in
 several languages (en, fr, es...). It is really easy to create its
 own plugin and configure palaver.
